In [24]:
from datetime import date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#import geopandas as gpd
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
from IPython.display import Markdown as md
import plotly.io as pio

In [25]:
#Load covid 19 datset
df= pd.read_csv("owid-covid-data.csv")

In [26]:
df.shape

(152463, 67)

EDA

In [27]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [28]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152463 entries, 0 to 152462
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    152463 non-null  object
 1   continent                                   143274 non-null  object
 2   location                                    152463 non-null  object
 3   date                                        152463 non-null  object
 4   total_cases                                 149838 non-null  float64
 5   new_cases                                   149801 non-null  float64
 6   new_cases_smoothed                          148650 non-null  float64
 7   total_deaths                                132634 non-null  float64
 8   new_deaths                                  132822 non-null  float64
 9   new_deaths_smoothed                         132690 non-null  float64
 10  total_cases_per_million                     149139 non-null  float64
 11  new_cases_per_million                       149102 non-null  float64
 12  new_cases_smoothed_per_million              147956 non-null  float64
 13  total_deaths_per_million                    131948 non-null  float64
 14  new_deaths_per_million                      132136 non-null  float64
 15  new_deaths_smoothed_per_million             132004 non-null  float64
 16  reproduction_rate                           114970 non-null  float64
 17  icu_patients                                18731 non-null   float64
 18  icu_patients_per_million                    18731 non-null   float64
 19  hosp_patients                               21205 non-null   float64
 20  hosp_patients_per_million                   21205 non-null   float64
 21  weekly_icu_admissions                       4309 non-null    float64
 22  weekly_icu_admissions_per_million           4309 non-null    float64
 23  weekly_hosp_admissions                      8664 non-null    float64
 24  weekly_hosp_admissions_per_million          8664 non-null    float64
 25  new_tests                                   60391 non-null   float64
 26  total_tests                                 61776 non-null   float64
 27  total_tests_per_thousand                    61776 non-null   float64
 28  new_tests_per_thousand                      60391 non-null   float64
 29  new_tests_smoothed                          73728 non-null   float64
 30  new_tests_smoothed_per_thousand             73030 non-null   float64
 31  positive_rate                               68852 non-null   float64
 32  tests_per_case                              68189 non-null   float64
 33  tests_units                                 75198 non-null   object
 34  total_vaccinations                          39146 non-null   float64
 35  people_vaccinated                           37511 non-null   float64
 36  people_fully_vaccinated                     34632 non-null   float64
 37  total_boosters                              12213 non-null   float64
 38  new_vaccinations                            32433 non-null   float64
 39  new_vaccinations_smoothed                   71248 non-null   float64
 40  total_vaccinations_per_hundred              39146 non-null   float64
 41  people_vaccinated_per_hundred               37511 non-null   float64
 42  people_fully_vaccinated_per_hundred         34632 non-null   float64
 43  total_boosters_per_hundred                  12213 non-null   float64
 44  new_vaccinations_smoothed_per_million       71248 non-null   float64
 45  new_people_vaccinated_smoothed              70037 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  70037 non-null   float64
 47  stringency_index                            119328 non-null  float64
 48  population                                  151447 non-null  float64
 49  population_density                          135731 non-null  float64
 50  median_age                                  126664 non-null  float64
 51  aged_65_older                               125288 non-null  float64
 52  aged_70_older                               125984 non-null  float64
 53  gdp_per_capita                              127074 non-null  float64
 54  extreme_poverty                             83883 non-null   float64
 55  cardiovasc_death_rate                       125670 non-null  float64
 56  diabetes_prevalence                         132111 non-null  float64
 57  female_smokers                              97339 non-null   float64
 58  male_smokers                                95937 non-null   float64
 59  handwashing_facilities                      62937 non-null   float64
 60  hospital_beds_per_thousand                  113537 non-null  float64
 61  life_expectancy                             142308 non-null  float64
 62  human_development_index                     125145 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 77.9+ MB

Lot of data with NaN. And all data is not relevant for this EDA. For example, of the 152463 rows of data, columns like excess_mortality, excess_mortality_cumulative has data in only 5234 row (~3.4%). This is very little useable data in the context of all other available data.

We will create a subset of the df later. For now, lets delete the columns with data in <33% of the rows.

In [22]:
df_temp = df[[column for column in df if df[column].count() / len(df) >= .33]]
print("List of columns which has less data and can be dropped: \n", end="")
for c in df.columns:
    if c not in df_temp.columns:
        print(c, end=", ")

List of columns which has less data and can be dropped:
icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million,

Columns which have all data.

In [30]:
df_temp = df[[column for column in df if df[column].count() / len(df) == 1.0]]
print("List of columns which have all data: \n", end="")
for c in df.columns:
    if c in df_temp.columns:
        print(c, end=", ")

List of columns which have all data:
iso_code, location, date,

In [32]:
#Splitting date into month and year, and creating a new cloumns for month and date
df["month"]=pd.to_datetime(df["date"]).dt.month
df["year"]=pd.to_datetime(df["date"]).dt.year

#Creating dictionary for month, and replacing it in the data.
month={1:"january",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"Septemper",10:"October",
       11:"Novamber",12:"December"}

df["month"]=df["month"].map(month)

df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,month,year
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,February,2020
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,February,2020
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,February,2020
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,February,2020
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,February,2020

Some simple tests on the data

In [33]:
#New cases in UK in August 2020
df.loc[df.year == 2020].loc[df.location == 'United Kingdom'].loc[df.month =='August'].new_cases.sum()
#df_subset.loc[df_subset.year == 2020].loc[df_subset.location == 'United Kingdom'].loc[df_subset.month =='August'].new_cases.sum()

32730.0

In [10]:
#SOME SIMPLE TESTS ON THE DATASET
#New cases in UK in August 2020
df.loc[df.year == 2020].loc[df.location == 'United Kingdom'].loc[df.month =='August'].new_cases.sum()
#df_subset.loc[df_subset.year == 2020].loc[df_subset.location == 'United Kingdom'].loc[df_subset.month =='August'].new_cases.sum()

32730.0

In [71]:
df_subset=df[['year','month','iso_code', 'continent','location','total_cases','new_cases', 'total_deaths', 'new_deaths', 'people_vaccinated','people_fully_vaccinated','population']]
df_subset.head(50)

df_subset['location'].unique()
#df_subset[['location', 'new_cases']].groupby(["location"]).head()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [49]:
df_subset.isnull().sum()

year                            0
month                           0
iso_code                        0
continent                    9189
location                        0
total_cases                  2625
new_cases                    2662
total_deaths                19829
new_deaths                  19641
people_vaccinated          114952
people_fully_vaccinated    117831
population                   1016
dtype: int64

In [72]:
#New cases in UK in August 2020
df_subset.loc[df_subset.year == 2020].loc[df_subset.location == 'United Kingdom'].loc[df_subset.month =='August'].new_cases.sum()
#df_subset['year'==2020].head()

32730.0

In [42]:
df_group=df_subset.groupby(["year","month","continent","location","iso_code"]).sum()
df_group.shape
df_group.head()

total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
people_vaccinated          0
people_fully_vaccinated    0
population                 0
dtype: int64

In [43]:
#total confirmed cases in 2020
df_group['year'==2020].total_cases.sum()

KeyError: False